* {
    margin: 0;
    padding: 0;
}

html, body, .container, #root {
    min-height: 100vh;
}


.ex1,
.ex2,
.ex3 {
    margin: auto;
    width: 80vw;
    height: 30vh;
    background-color: #f0f1f7;
}

.ex2, .ex3 {
    margin-top: 5vh;
}

article {
    display: block;
}


.ex1-title {
    font-size: x-large;
    font-family: Calibri, serif;
    font-weight: bolder;
    text-align: center;
    padding: 15px 0;
}

.ex1-logo {
    display: flex;
    justify-content: space-around;
}

.ex1-logo img {
    display: block;
    max-width: 12vw;
    max-height: 12vh;
    margin: 4vh auto;
}


.ex2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F7F7;
}

.ex2-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    width: 95%;
    height: 90%;
    background-color: #C2E6F4;
}

.ex2-title,
.ex2-title-desc {
    font-family: Calibri, sans-serif;
    font-size: 3vw;
}

.ex2-title-desc {
    font-size: 1.5vw;
    margin-top: -2%;
}

.ex2-input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ex2-input input {
    padding: 15px 8px;
    border-radius: 10px;
    border-width: 0;
    margin-left: 3px;
}

.ex2-button {
    background-color: #F37474;
    color: white;
    border-radius: 10px;
    border-width: 0;
    padding: 12px 100px;
}

.ex3 {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar {
    /*padding-top: 2%;*/
    width: 40%;
    height: 40%;
}

.avatar img {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

.ex3-name {
    font-family: Algerian, sans-serif;
    font-size: 2.5vw;
}

.ex3-title {
    margin-top: -20px;
    color: #555;
}

.ex3-skills-title {
    font-family: Calibri, sans-serif;
    font-size: 2vw;
    margin-top: -10px;
}

.ex3-skills {
    color: white;
}

.ex3-skills button {
    border-radius: 10%;
    border-width: 0;
    color: white;
    margin-left: 1px;
    background-color: #2ACFCF;
}

.ex3-footer {
    color: #555555;
    font-family: Calibri, sans-serif;
    font-size: .8vw;
    margin-bottom: 5px;
}