extends layouts/login-layout.pug
block content 
    .loginContainer 
        h1 login
        form(method="post") 
            p.errorMsg #{errorMsg}
            input(type="text" name="username" placeholder="Username or Email" required="")
            input(type="password" name="password" placeholder="Password" required="")
            input(type="submit" value="login")
        a(href="/register") Need an account?Register here.      