* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #555555;
}

.modal {
    height: 80vh;
    width: 900px;
    max-width: 80%;
    overflow: auto;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}


.header {
    border-bottom: 1px solid #777;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem .5rem;
}

.title {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    align-self: flex-start;
    padding: .5rem 0 0;
}

.body {
    flex-grow: 1; /* fill the modal even if text is less */
    overflow: auto;
    padding: 1rem;
}

.footer {
    border-top: 1px solid #777;
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}

.footer .btn {
    margin-right: .5rem;
}

.footer .btn:last-child {
    margin-right: initial; /* reset to default value */
}

.btn {
    padding: .5em 1em;
    font-size: inherit;
    border-radius: .3em;
    border: none;
    color: white;
    cursor: pointer;
}

.btn.btn-primary {
    background: #1CA;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background: #0A8;
}


.btn.btn-danger {
    background: #C33;
}

.btn.btn-danger:hover, .btn.btn-danger:focus {
    background: #A11;
}

